body {
    margin: 0; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

table {
 width: 500px;
 background-color: rgb(172, 127, 255);
 border-radius: 5px;
 border-color: black;
}
#Prediction-Button:hover{
    cursor: pointer;
}
#Prediction-Button{
    justify-content: center;
    align-items: center ;
}
